<main class="content">
  <div class="pob_ban"></div>
  <div class="cnt">
    <div class="line">
      <div class="inline inline_index">
        <h1><%= @service.title %></h1>
      </div>
    </div>
    <div class="slogan">
      <div class="circle <%= ['one', 'two' , 'three', 'four'].to_a.shuffle.sample %> slg_crcl"></div>
      <h1>Услуга 1 облегчит ваши проблемы!</h1>
    </div>
    <div class="cntr_cntn"><div class="news_srv">
      <div class="pct_srv"><%= image_tag @service.image_url %></div>
      <div class="txt_srv"><p><%= sanitize(@service.span_this_please) %></p>
      </div>
      <div class="service_price"><%= @service.price %></div>
      <%= link_to 'Поправить что-то здесь', edit_service_path %>
      <%= link_to 'Удалить эту услугу', service_path, method: :delete %>
      <button type="button" class="btn btn-primary btn-lg btn-block">оставить заявку</button>
    </div>
      <div class="nav"></div>
    </div>
    <div class="line">
      <div class="inline">
        <h1>наши партнёры</h1>
      </div>
    </div>
    <div class="circle prtn"><h1>1</h1></div>
    <div class="circle prtn"><h1>2</h1></div>
    <div class="circle prtn"><h1>3</h1></div>
    <div class="circle prtn"><h1>4</h1></div>
    <div class="circle prtn"><h1>5</h1></div>

  </div>
</main><!-- .content -->